body {
  zoom: 110%;
  .eve-main {
    width: calc(88.8vw - 230px) !important;
    height: calc(90.4vh - 105px) !important;
  }
  .eve-common-footer-button {
    width: calc(88.8vw - 230px) !important;
  }
  .eve-container {
    height: calc(90.4vh - 105px) !important;
  }
}
