body {
  zoom: 120%;
  .eve-header {
    .el-menu-item {
      padding: 0 10px;
    }
  }

  @media screen and(-ms-high-contrast:active), (-ms-high-contrast: none) {
    /*ie兼容*/
    .eve-header__right {
      width: 59%;
    }
    .header-tips:first-child {
      margin-right: 231px;
    }

    .header-tips {
      margin-right: 247px;
    }

    .eve-header__dialog-section {
      right: 275px;
    }

    /*ie兼容*/
  }

  .eve-container__right {
    min-width: auto !important;
  }

  .eve-main {
    width: calc(81vw - 230px) !important;
    height: calc(83.2vh - 105px) !important;
  }
  .eve-common-footer-button {
    width: calc(81vw - 230px) !important;
  }
  .eve-container {
    height: calc(83.2vh - 105px) !important;
  }
}
