//暂时不开放
body {
  zoom: 120%;
  .eve-header {
    .el-menu-item,
    .eve-scroll__menu .el-submenu__title {
      padding: 0 0;
    }
  }

  .eve-header__icon-item:not(:last-child) {
    margin-right: 12px;
  }

  .eve-container__right {
    min-width: auto !important;
  }

  .header-tips {
    margin-right: -25px;
  }

  @media screen and(-ms-high-contrast:active), (-ms-high-contrast: none) {
    /*ie兼容*/
    .eve-header__right {
      width: 42%;
    }

    .header-tips {
      margin-right: 301px;
    }

    .eve-header__dialog-section {
      right: 328px;
    }
    /*ie兼容*/
  }
}

//width：542  height：260  1920分辨率放大 125的比例下
$--zoom-width: calc(100vw - 606px) !important;
$--zoom-height: calc(100vh - 296px) !important;

.eve-main {
  width: $--zoom-width;
  height: $--zoom-height;
}

.eve-breadcrumb {
  width: $--zoom-width;
}

.eve-common-footer-button {
  width: $--zoom-width;
}

.eve-container {
  height: $--zoom-height;
}

.eve-menu__main {
  height: calc(100vh - 250px) !important;
}

/*---字体缩放后的样式--- */
.font.layout__collapse.eve-breadcrumb {
  width: calc(100vw - 95px - 319px) !important;
}

.font.layout__collapse.eve-main {
  width: calc(100vw - 65px - 30px - 319px) !important;
}

//系统设置放大了1.25的情况下
@media all and (-webkit-device-pixel-ratio: 1.25),
  (-moz-device-pixel-ratio: 1.25),
  (-o-device-pixel-ratio: 1.25),
  (resolution: 120dpi) {
  $--zoom-width: calc(100vw - 542px) !important;
  $--zoom-height: calc(100vh - 260px) !important;
  .eve-main {
    width: $--zoom-width;
    height: $--zoom-height;
  }

  .eve-breadcrumb {
    width: $--zoom-width;
  }

  .eve-common-footer-button {
    width: $--zoom-width;
  }

  .eve-container {
    height: $--zoom-height;
  }

  .eve-menu__main {
    height: calc(100vh - 214px) !important;
  }

  @media screen and(-ms-high-contrast:active), (-ms-high-contrast: none) {
    /*ie兼容*/
    .eve-header__right {
      width: 60% !important;
    }

    .header-tips {
      margin-right: 237px !important;
    }

    .eve-header__dialog-section {
      right: 264px !important;
    }

    /*ie兼容*/
  }

  /*---字体缩放后的样式--- */
  .font.layout__collapse.eve-breadcrumb {
    width: calc(100vw - 95px - 255px) !important;
  }

  .font.layout__collapse.eve-main {
    width: calc(100vw - 65px - 30px - 255px) !important;
  }
}
