body {
  zoom: 130%;
  .eve-header {
    .el-menu-item {
      padding: 0 5px;
    }
  }

  @media screen and(-ms-high-contrast:active), (-ms-high-contrast: none) {
    /*ie兼容*/
    .eve-header__right {
      width: 100%;
    }
    .header-tips:first-child {
      margin-right: 326px;
    }
    .header-tips {
      margin-right: 340px;
    }
    .eve-header__dialog-section {
      right: 367px;
    }

    /*ie兼容*/
  }

  .eve-container__right {
    min-width: auto !important;
  }
  .eve-main {
    width: calc(74.6vw - 230px) !important;
    height: calc(76.9vh - 105px) !important;
  }
  .eve-common-footer-button {
    width: calc(74.6vw - 230px) !important;
  }
  .eve-container {
    height: calc(76.9vh - 105px) !important;
  }
}
