.eve-header {
  // width: 100%;
  position: relative;
  background-size: cover;
  background-color: $--color-primary;
  background-repeat: no-repeat;
  background-position: center top;
  border-bottom: 0;
  display: flex;
  padding: 0 32px 0 13px;
  color: #fff;
  font-size: 14px;
  //清除dialog本身的position:absolute 设置外部的  position: absolute;位置才能放置在最右边
  .el-dialog__wrapper {
    position: static !important;
  }

  &__left {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__dialog-section {
    position: absolute;
    z-index: 2000;
    right: 26px;
    top: 45px;
  }

  &__flex-start {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  &__flex-end {
    @extend .eve-header__flex-start;
    justify-content: flex-end;
    line-height: 0.5;
  }
  &__flex-column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    line-height: 1.44;
  }
  &__title {
    padding-left: 16px;
    font-family: Semibold Microsoft YaHei, Avenir, Helvetica, Arial, sans-serif;
    font-weight: bold;
  }

  &__logo {
    width: 45px;
    height: auto;
    filter: drop-shadow(0 0 1px #fff);
  }

  &__right {
    margin-left: auto;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
  }

  &__center {
    margin-left: 50px;
    white-space: nowrap;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
  }

  &__button {
    cursor: pointer;
    user-select: none;
    &:not(:first-child) {
      margin-left: 50px;
    }
  }

  &__icon-img {
    width: 17px;
    height: 17px;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }

  &__icon-item {
    position: relative;
    cursor: pointer;
    user-select: none;
    color: $--border-color-light;
    &--special {
      // font-weight: 600;
      &:hover {
        color: #fff;
        .el-icon-caret-bottom::before {
          color: #fff;
        }
      }
    }

    //扩大点击范围
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 40px;
      background: transparent;
      opacity: 0;
      z-index: 1;
    }

    &:not(:last-child) {
      margin-right: 20px;
    }

    // &:nth-last-child(2) {
    //   margin-right: 8px;
    // }
    &:nth-last-child(2) {
      margin-right: 35px;
    }
    white-space: nowrap;
  }

  &__triangle {
    //小三角
    // position: relative;
    // &::before {
    //   position: absolute;
    //   content: '';
    //   width: 0;
    //   height: 0;
    //   border-left: 4px solid transparent;
    //   border-right: 4px solid transparent;
    //   border-bottom: 5px solid white;
    //   right: 10px;
    // }
  }

  &__dialog-title {
    display: block;
    padding: 10px 20px;
  }

  &__dialog-border {
    // border-bottom: 1px solid #333;
    opacity: 0.1;
  }
  &__dialog-footer {
    display: block;
    color: $--color-text-regular;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    font-size: $--font-size-base;
    height: 35px;
    background: $--border-color-extra-light;
    border-top: 1px solid $--border-color-lighter;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  &__dialog-footer-button {
    user-select: none;
    cursor: pointer;
    color: $--color-text-regular;
    &:first-child {
      &:hover {
        color: $--color-primary;
      }
    }
    &:last-child {
      &:hover {
        color: $--color-danger;
      }
    }
  }

  &__icon-item-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .el-badge__content {
    line-height: 15px;
    border: 1px solid transparent;
  }
  //隐藏菜单底下的线
  // ::v-deep .el-menu.el-menu--horizontal {
  //   border-bottom: solid 1px transparent;
  // }
  .el-menu.el-menu--horizontal {
    border-bottom: solid 1px transparent;
  }

  .el-menu-item.is-active {
    // color:$--color-deep-primary;
  }

  .el-icon-caret-bottom::before {
    color: $--border-color-light;
  }

  &__icon-img--special {
    margin: 0 8px;
  }

  &__dialog-content-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    line-height: 2.4;
  }

  &__dialog-content-left {
    width: 58px;
    color: $--color-text-secondary;
    font-size: $--font-size-small;
  }

  &__dialog-content-right {
    padding-left: 4px;
    line-height: 1.2;
    color: $--color-text-regular;
    font-size: $--font-size-extra-small;
    width: 160px;
    span {
      font-size: $--font-size-base;
      color: $--color-primary;
      cursor: pointer;
      user-select: none;
      &:last-child {
        margin-left: 15px;
      }
    }
  }
}

// ::v-deep .eve-header__dialog {
.eve-header__dialog {
  &.el-dialog__wrapper {
    overflow: visible;
  }
  .el-dialog {
    width: 100%;
    height: auto;
    font-size: 14px;
    box-shadow: 0 0 6px $--border-color-lighter;
    margin: 0 auto !important;
  }

  //去除头部
  .el-dialog__header {
    position: relative;
    color: black;
    height: 0;
    padding: 0;
  }

  .el-dialog__body {
    padding: 0 20px 10px 20px;
  }

  .el-dialog__footer {
    padding: 0;
    line-height: 35px;
    height: 35px;
  }
}

.eve-header__title {
  font-size: 16px;
}
