body {
  font-family: Microsoft YaHei, Avenir, Helvetica, Arial, sans-serif;
  color: $--color-text-regular;
}

.eve-common {
  /*-----表单提交底部按钮-----*/
  &-footer-button {
    position: fixed;
    bottom: 0;
    display: flex;
    height: 48px;
    box-shadow: 0 -4px 6px -2px $--color-primary-light-8; //顶部
    width: calc(100vw - #{$--eve-menu-width} - 10px); //菜单宽度+间距
    z-index: 1000;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    .el-button {
      padding: 8px 16px;
      font-size: $--font-size-content;
    }
  }

  /*----边框----*/

  //常规边框
  &-border {
    border: 1px solid $--border-color-base;
    //基础投影
    &--base-shadow {
      border: 1px solid $--border-color-lighter;
      box-shadow: $--border-color-base 0px 0px 6px; //将h-shadow,v-shadow设为0px,实现四周阴影
    }
    //浅色投影、卡片
    &--lighter-shadow {
      border: 1px solid $--border-color-lighter;
      box-shadow: $--border-color-lighter 0px 0px 6px; //将h-shadow,v-shadow设为0px,实现四周阴影
    }
  }

  /*----标签页----*/

  //选项卡类型--按钮
  &-tabs--button {
    .el-tabs__nav-wrap {
      margin-bottom: 0;
    }
    // .el-tabs__item.is-active {
    //   background: $--color-primary;
    //   color: #fff;
    //   border: 1px solid $--color-primary;
    // }

    .el-tabs__item:first-child {
      border-radius: 4px 0 0 4px;
    }
    .el-tabs__item:last-child {
      border-radius: 0 4px 4px 0;
    }

    .el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
      background-color: $--color-primary;
      color: #fff;
      border-color: $--color-primary;
    }

    .el-tabs--card > .el-tabs__header {
      border-bottom: 1px solid transparent;
    }

    .el-tabs--card > .el-tabs__header .el-tabs__nav {
      border-bottom: 1px solid $--border-color-lighter;
      border-radius: 4px;
    }
  }

  //选项卡类型--分割border
  &-tabs--division {
    .el-tabs__item {
      border: 1px solid $--border-color-lighter;
    }
    .el-tabs__item:not(:first-child) {
      margin-left: 2px;
    }
    .el-tabs--card > .el-tabs__header .el-tabs__nav {
      border-top: 1px solid transparent;
      border-right: 1px solid transparent;
    }
    .el-tabs__item {
      border-radius: 4px 4px 0 0;
    }
  }

  //基础类型--居中显示(额外扩展的样式)
  &-tabs--center {
    .el-tabs__header {
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  }

  /*----时间轴(时间线)----*/

  &-step-card {
    .el-step__description {
      margin-top: 0px;
      border: 1px solid $--border-color-lighter;
      box-shadow: 0 0 6px $--border-color-lighter;
      min-height: 75px;
      padding: 8px;
    }
  }

  /*----表单----*/
  &-form-container {
    /*********表单[start]*********/
    .eve-common-form-content {
      border: 1px solid $tableBorderColor;
    }
    .eve-common-form-content:not(:last-child) {
      margin: 0 0 -1px 0;
    }
    //表单的标题属性
    .eve-common-form-title {
      height: 32px;
      line-height: 32px;
      padding-left: 16px;
      font-size: $--font-size-title;
      background-color: $LabelbgColor;
      font-weight: bolder;
    }
    //带详情css
    .eve-common-detail-field {
      font-size: $--font-size-small;
      line-height: 18px;
    }
    //带单位描述css
    .eve-common-info-tip {
      font-size: $--font-size-extra-small;
      color: $--color-info;
      margin-left: 20px;
    }

    .el-form-item {
      margin-bottom: 0; //去掉form-item默认的底边距
      height: 100%; //很重要，不能去掉，否则form-label无法随form-content的高度变化而变化
      .el-form-item__label {
        background-color: $LabelbgColor;
        color: $LabelColor;
        font-size: $LabelFontSize;
        padding: $LabelPadding;
        height: 100%;
        line-height: 1; //元素本身的字体大小 设置行高
        //label属性右对齐垂直居中显示
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-right: 1px solid $tableBorderColor;
        border-left: 1px solid $tableBorderColor;
        margin-left: -1px;
      }
      .el-form-item__content {
        position: relative;
        line-height: 1px;
        padding: $ContentPadding;
        height: 100%;
        //输入框有显示单位文字属性，垂直居中对齐
        display: flex;
        align-items: center;
      }
      .eve-common-form-error-tip {
        color: $--color-danger;
        margin-left: 5px;
      }
      &.eve-common-fixed-error {
        /***重***自定义表单错误提示***点***/
        .eve-common-form-error-tip {
          right: 3px;
          //垂直居中css
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  /*********常规input的封装[start]*********/
  &-input {
    &.el-input {
      .el-input__inner {
        //input内边距
        padding: $eveCommonInputPadding;
        //input高度
        height: $eveCommonInputHeight;
        line-height: 1;
      }
      //改变输入框的默认内边距，前后图标的默认左右边距需要重新设置一下，否则出现图标的时候会出现css异常
      .el-input--prefix .el-input__inner,
      .el-input--suffix .el-input__inner {
        padding-left: $eveCommonInputPrefixSuffix;
      }
      .el-input__icon {
        line-height: 1;
      }
    }
    //多行文本框
    &.el-textarea {
      //多行文本框内边距
      .el-textarea__inner {
        padding: $eveCommonInputPadding;
      }
      //多行文本框的【计数属性】绝对定位-根据实际情况微调
      .el-input__count {
        bottom: 10px;
      }
    }
  }

  /*********InputNumber 计数器[start]*********/
  &-input-number {
    &.el-input-number {
      line-height: 2; //左右按钮根据行高设置
      .el-input__inner {
        //input内边距
        padding: $eveCommonInputPadding;
        //input高度
        height: $eveCommonInputHeight;
        line-height: 1;
      }
    }
  }

  /*********DatePicker 日期选择器[start]*********/
  &-date-picker {
    overflow: hidden;
    .el-input__inner {
      //input内边距
      padding: $eveCommonInputPadding;
      //input高度
      height: $eveCommonInputHeight;
      line-height: 1;
    }

    //改变输入框的默认内边距，前后图标的默认左右边距需要重新设置一下，否则出现图标的时候会出现css异常
    &.el-input--prefix .el-input__inner,
    .el-input--suffix .el-input__inner {
      padding-left: $eveCommonInputPrefixSuffix;
    }
    &.el-date-editor .el-range-separator {
      width: 6%;
      line-height: 25px;
    }
    .el-input__icon {
      line-height: $eveCommonInputHeight;
    }
    &.el-range-editor.el-input__inner {
      padding: 0 4px;
    }
    &.el-date-editor .el-range__icon {
      font-size: $--font-size-small;
    }
  }

  /*********timePicker 时间选择器[start]*********/
  &-time-select {
    overflow: hidden;
    .el-input__inner {
      //input内边距
      padding: $eveCommonInputPadding;
      //input高度
      height: $eveCommonInputHeight;
      line-height: 1;
    }
    //改变输入框的默认内边距，前后图标的默认左右边距需要重新设置一下，否则出现图标的时候会出现css异常
    &.el-input--prefix .el-input__inner,
    .el-input--suffix .el-input__inner {
      padding-left: $eveCommonInputPrefixSuffix;
    }
    &.el-date-editor .el-range-separator {
      width: 6%;
      line-height: 25px;
    }
    .el-input__icon {
      line-height: $eveCommonInputHeight;
    }
    &.el-range-editor.el-input__inner {
      padding: 0 4px;
    }
    &.el-date-editor .el-range__icon {
      font-size: $--font-size-small;
    }
  }

  /*********Radio 单选框[start]*********/
  //横向属性
  &-horizontal {
    padding: 5px 0;
    .el-checkbox {
      display: initial;
    }
  }

  //纵向属性-设置为块级元素，并设置上下间距
  &-vertical .el-radio {
    padding: 4px 0;
    display: block;
  }
  //纵向属性
  &-vertical .el-checkbox {
    padding: 4px 0;
    display: block;
  }

  &-radio-group {
    //radio选中字体不跟随变化（常规文字）-#606266
    .el-radio__input.is-checked + .el-radio__label {
      color: $--color-text-regular;
    }
    .el-radio__label {
      font-size: $--font-size-small;
      padding-left: 4px;
    }

    //radio由[实心白]改为[实心蓝]效果
    .el-radio__input.is-checked .el-radio__inner {
      background: #fff;
    }
    .el-radio__inner::after {
      width: 5px;
      height: 5px;
      background-color: $--color-primary;
    }
  }

  /*********checkbox复选框[start]*********/
  &-checkbox-group {
    .el-checkbox__label {
      font-size: $--font-size-small;
      padding-left: 4px;
    }

    //checkbox由[白色勾]改为[蓝色勾]效果
    .el-checkbox__input.is-checked .el-checkbox__inner,
    .el-checkbox__input.is-indeterminate .el-checkbox__inner {
      background-color: #fff;
      //三级边框-#ebeef5
      border-color: 1px solid $--border-color-lighter;
    }
    .el-checkbox__inner::after {
      border-color: $--color-primary;
    }
    //checkbox选中字体不跟随变化
    .el-checkbox__input.is-checked + .el-checkbox__label {
      //常规文字-#606266
      color: $--color-text-regular;
    }
  }

  /*********select下拉框[start]*********/
  &-select {
    &.el-select {
      width: 100%;
      .el-input__inner {
        //input内边距
        padding: $eveCommonInputPadding;
        //input高度
        height: $eveCommonInputHeight;
        line-height: 1;
      }
    }
  }

  /*********select下拉复选框[start]*********/
  &-cascader {
    &.el-cascader {
      width: 100%;
      .el-input__inner {
        //input内边距
        padding: $eveCommonInputPadding;
        //input高度
        height: $eveCommonInputHeight;
        line-height: 1;
      }
    }
  }

  /*********autocomplete下拉复选框[start]*********/
  &-autocomplete {
    &.el-autocomplete {
      width: 100%;
      .el-input__inner {
        //input内边距
        padding: $eveCommonInputPadding !important;
        //input高度
        height: $eveCommonInputHeight !important;
        line-height: 1 !important;
      }
    }
  }

  /*********slider滑块[start]*********/
  &-slider {
    &.el-slider {
      width: 100% !important;
      //减小滑块的边距
      .el-slider__runway {
        margin: 11px 0;
      }
    }
  }

  /*********下拉树[start]*********/
  &-drop-down-tree {
    &.el-select {
      width: 100%;
      .el-input__inner {
        //input内边距
        padding: $eveCommonInputPadding;
        //input高度
        height: $eveCommonInputHeight;
        line-height: 1;
      }
    }
  }

  /*********icon[start]*********/
  &-icon {
    font-size: $--font-size-small;
    color: $--color-info; //#909399
    &:hover {
      cursor: pointer;
      color: $--color-warning; //#e6a23c
    }
  }

  /*********upload图片上传[start]*********/
  &-upload {
    padding: 0px 0 12px 0;
    line-height: 1;
    .el-upload-list--picture .el-upload-list__item {
      //三级边框-#ebeef5
      border: 1px solid $--border-color-lighter;
    }
  }

  /*********模板页面的间距*********/
  &-formwork__select-form {
    padding: 3px 5px;
  }
  &-formwork__button-table {
    padding: 0 5px;
  }
  &-formwork__table {
    margin-top: 5px;
  }
  &-formwork__tree {
    padding: 5px;
  }

  /*********卡片*********/
  &-card__button {
    float: right;
    padding: 3px 0;
  }
}
