.eve-tree {
  user-select: none;
  &__custom-tree-node {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-right: 8px;
  }
  &__filter {
    margin-bottom: 28px;
  }
  &__custom-tree-button {
    display: none;
  }
  &__custom-tree-label {
    cursor: pointer;
  }
}

//全部
.eve-tree__is-active.el-tree--highlight-current {
  .el-tree-node.is-current > .el-tree-node__content {
    background-color: transparent;
    color: $--color-primary;
  }
}
//only叶子
.el-tree--highlight-current {
  .el-tree-node.is-current > .el-tree-node__content {
    background-color: transparent;
    .is-leaf + .eve-tree__custom-tree-node {
      .eve-tree__custom-tree-label {
        color: $--color-primary;
      }
    }
  }
}

.eve-tree {
  .el-tree-node:focus > .el-tree-node__content {
    background: transparent;
  }
  // // 去掉hover背景色
  // .el-tree-node:hover > .el-tree-node__content {
  //   background-color: transparent;
  // }
}

.eve-tree__custom-tree:hover {
  .eve-tree__custom-tree-button {
    display: block;
  }
}

.is-leaf + .eve-tree__custom-leaf-tree:hover {
  .eve-tree__custom-tree-button {
    display: block;
  }
}
