.eve-table-pagination {
  // margin: 0 24px;
  text-align: center;
  // &__filters ::v-deep .el-table__column-filter-trigger i {
  //   display: none;
  // }
  &__button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  &__button-text {
    color: $--color-primary;
    cursor: pointer;
    user-select: none;
    &:not(:first-child) {
      padding-left: 8px;
    }
  }

  /*解决ie下的100 */
  .el-table__header {
    width: 100% !important;
  }

  .el-table__body {
    width: 100% !important;
  }

  /**---解决在tap页中表格fixed-right属性显示不全的问题------**/
  .el-table__fixed-right {
    height: 100% !important;
  }

  //默认不换行，解决换行问题
  &__line-height {
    .el-table td > .cell {
      min-height: auto;
      height: auto;
      line-height: 18px;
      padding: 10px 4px;
    }
  }
}
