.eve-table-pagination {
  // margin: 0 24px;
  text-align: center;
  // &__filters ::v-deep .el-table__column-filter-trigger i {
  //   display: none;
  // }
  &__button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  &__button-text {
    color: $--color-primary;
    cursor: pointer;
    user-select: none;
    &:not(:first-child) {
      padding-left: 16px;
    }
  }

  /*解决ie下的100 */
  .el-table__header {
    width: 100% !important;
  }

  .el-table__body {
    width: 100% !important;
  }
}
