.eve-drop-down-tree {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  &__content {
    padding: 0 5px;
  }
  &__option {
    background-color: #fff !important; //当前颜色外部引用时会变动就用important覆盖
  }
  .el-select {
    width: 100%;
  }
}

.eve-drop-down-tree__option {
  &.el-select-dropdown__item.is-disabled {
    cursor: default;
    padding: 0;
  }

  .el-scrollbar__wrap {
    overflow-x: hidden;
  }
  .el-scrollbar__bar.is-vertical > div {
    width: 120%;
  }
  .el-scrollbar__bar.is-horizontal > div {
    height: 120%;
  }
}

.el-tree-node__label {
  font-weight: normal;
}
.eve-drop-down-tree__item {
  user-select: none;
  .el-tree-node__content {
    :focus {
      background: transparent;
    }
    //hover背景色
    &:hover {
      background-color: $--color-primary-light-9;
    }
  }
}

//全部
.eve-drop-down-tree__item.eve-drop-down-tree__is-active.el-tree--highlight-current {
  .el-tree-node.is-current > .el-tree-node__content {
    background-color: transparent;
    color: $--color-primary;
  }
}

//only叶子
.el-tree-node.is-current > .el-tree-node__content {
  background-color: transparent;
  .is-leaf + .el-tree-node__label {
    color: $--color-primary;
  }
}

//多选情况去除节点的选中的样式，只有当勾选checkbox才可以选中
.eve-drop-down-tree__multiple {
  .el-tree-node__label {
    color: #606266;
    cursor: default;
  }
}

.eve-drop-down-tree__column-collapse-tags {
  .el-select__tags {
    overflow: hidden;
    height: 28px;
  }
}

.eve-drop-down-tree__number {
  position: absolute;
  left: 0;
  z-index: 99;
  color: #909399;
  width: 30px;
  height: 24px;
  background-color: #f4f4f0;
  text-align: center;
  line-height: 26px;
  font-size: 12px;
}
