/*-----字体大小-----*/
//主标题
$--font-size-extra-large: 20px !important;
//标题
$--font-size-large: 18px !important;
//小标题
$--font-size-medium: 16px !important;
//正文
$--font-size-base: 16px !important;
//正文（小）
$--font-size-small: 14px !important;
//辅助文字
$--font-size-extra-small: 13px !important;

/*---字体---*/

// 标题
$--font-size-title: 18px !important;
// 内容
$--font-size-content: 16px !important;
// 内容(小)
$--font-size-content-small: 14px !important;

@import '../theme/base.scss';
